// dark mode color pallet

$pure-white: #fff;

$teal: #00695c;
$teal-light-1: #009688;
$teal-darken-1: #00897b;
$link-color: #4db6ac;

$dark-background: #2b2d33;
$dark-background-2: #2c3e50;
$dark-background-3: #34495e;

$tabs-color: #039be5;
$tabs-color-dark: #1565c0;
$text-color: #c1cdd2;