// dark mode color pallet

$pure-white: #fff;
$pure-black: #000;

$body-bg: #fff;

$title-text: #000;
$sub-title-text: #fff;
$input-color: #000;

$teal: #00695c;
$teal-light-1: #009688;
$teal-darken-1: #00897b;
$link-color: #4db6ac;
$card-teal: #006064;

$dark-background: #fff;
$dark-background-2: #2c3e50;
$dark-background-3: #34495e;
$hr-color: #fcf5f5;

$tabs-color: #039be5;
$tabs-color-dark: #1565c0;
$text-color: #c1cdd2;

$placeholder-color: #C8C7C7;

$material-red: #D32F2F;

$bright-red: #f0223e;
$bright-red-2: #f34238;
