* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Quicksand",sans-serif;
  font-size: 1.6rem;
  color: #c1cdd2;
  background: #212328; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #C8C7C7; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #C8C7C7; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #C8C7C7; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #C8C7C7; }

.settings-option-title {
  margin-bottom: 1.8rem;
  color: #c1cdd2; }

.grad-span {
  background: linear-gradient(135deg, #f0223e, #f34238);
  color: transparent;
  -webkit-background-clip: text;
  position: relative; }
  .grad-span::after {
    content: "";
    display: block;
    position: absolute;
    background: #f0223e;
    height: 1px;
    width: 7px;
    top: 9px;
    right: 11px;
    transform: rotate(-35deg); }
  .grad-span::before {
    content: "";
    display: block;
    position: absolute;
    background: #f0223e;
    height: 1px;
    width: 7px;
    bottom: 10px;
    left: 10.5px;
    transform: rotate(-35deg); }

.paral-flex-box-container {
  display: flex;
  margin: 5rem 0rem; }
  @media only screen and (max-width: 500px) {
    .paral-flex-box-container {
      flex-direction: column; } }

.paral-flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1; }
  @media only screen and (max-width: 500px) {
    .paral-flex-box {
      margin: 1.5rem 0rem;
      flex-direction: column;
      align-items: flex-start; } }

.paral-flex-box--center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem; }

.paral-flex-box--center--half {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 500px) {
    .paral-flex-box--center--half {
      width: 100%;
      flex-direction: column;
      align-items: flex-start; } }

.paral-flex-box--input {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 500px) {
    .paral-flex-box--input {
      flex-direction: column; } }

.icon-input-box:not(:last-child) {
  margin-right: 3rem; }
  @media only screen and (max-width: 500px) {
    .icon-input-box:not(:last-child) {
      margin-right: 0rem;
      margin-bottom: 3rem; } }

.icon-label-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 16rem; }
  @media only screen and (max-width: 500px) {
    .icon-label-box {
      margin-bottom: 1rem; } }
  .icon-label-box img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem; }
  .icon-label-box i {
    margin-right: 0.5rem; }

.select-field-custom {
  position: relative;
  height: 4.5rem;
  flex-grow: 3;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.4rem;
  margin-left: 3rem;
  margin-right: 3rem; }
  @media only screen and (max-width: 500px) {
    .select-field-custom {
      width: 100%;
      margin-left: 0rem;
      margin-right: 0rem; } }
  .select-field-custom::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0rem 1.5rem;
    background: #34495e;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease; }
  .select-field-custom:hover::after {
    color: #4db6ac; }
  .select-field-custom select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 1rem;
    color: #fff;
    cursor: pointer; }
    .select-field-custom select::-ms-expand {
      display: none; }

.icon-input-box {
  width: 100%;
  display: flex; }
  .icon-input-box i {
    background: #333;
    color: #fff;
    padding: 1.5rem 2rem; }
  .icon-input-box input {
    width: 100%;
    color: #000;
    padding: 1.5rem 2rem;
    outline: 0;
    border: 1px solid #333;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.3s; }
    .icon-input-box input:focus {
      border-color: #1e90ff;
      box-shadow: 0 0 0 0.2rem rgba(30, 144, 255, 0.5); }

.icon-input-box--half {
  width: 50%;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 500px) {
    .icon-input-box--half {
      width: 100%; } }

.profile-tab-content {
  margin-top: 8rem;
  padding: 0rem 2rem; }

.profile-picture-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3rem; }
  @media screen and (max-width: 500px) {
    .profile-picture-box {
      flex-direction: column; } }
  .profile-picture-box--input {
    margin: 0 2rem; }
  .profile-picture-box--img {
    width: 100%; }
    @media only screen and (max-width: 500px) {
      .profile-picture-box--img {
        margin-bottom: 3rem; } }

.fields-label--p {
  color: #c1cdd2; }

.security-tab {
  margin-top: 7rem; }

.sub-header {
  background: #006064;
  text-align: center; }
  .sub-header--title--red {
    background: #D32F2F; }
  .sub-header--title {
    padding: 0.6rem 0rem;
    color: #c1cdd2; }

.paral-box {
  padding: 1rem 2rem 1rem 2rem; }

.show_password_icon {
  transition: all 0.2s;
  margin-left: 2rem;
  cursor: pointer; }

.signature-input-box {
  width: 45%;
  margin-left: 2rem; }
  @media only screen and (max-width: 500px) {
    .signature-input-box {
      width: 100%;
      margin-left: 0rem;
      margin-top: 5rem; } }

.paral-title {
  color: #c1cdd2; }

.friend-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #00695c; }
  .friend-card--round-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .friend-card--left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #c1cdd2;
    transition: all 0.3s; }
    .friend-card--left:hover {
      color: #039be5; }
  .friend-card--delete {
    color: crimson;
    position: relative;
    display: inline-block; }
    .friend-card--delete:hover {
      z-index: 999; }
      .friend-card--delete:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .friend-card--delete::after {
      content: "";
      background: crimson;
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .5s; }

.hr-dark {
  background: #454a59;
  color: #454a59;
  border-style: inset;
  border-color: #454a59;
  border-width: 1px; }

.margin-gutter-small {
  margin-bottom: 2rem; }

.margin-top-small {
  margin-top: 2rem; }

.margin-gutter-medium {
  margin-bottom: 5rem; }

.margin-gutter-small {
  margin-bottom: 2rem; }

.margin-top-medium {
  margin-top: 5rem; }

.margin-right-medium {
  margin-right: 5rem; }

.margin-left-medium {
  margin-left: 5rem; }

.margin-right-small {
  margin-right: 2rem; }

.tabs {
  background: #2b2d33;
  width: 100%;
  overflow: hidden; }

.tabs .tab a.active {
  color: #039be5; }

.tabs .tab a {
  color: #039be5;
  /*Custom Text Color*/ }

.tabs .tab a:hover {
  color: #1565c0;
  /*Custom Color On Hover*/ }

.tabs .tab a:focus.active {
  color: #039be5;
  /*Custom Text Color While Active*/
  background-color: transparent;
  /*Custom Background Color While Active*/ }

.tabs .indicator {
  background-color: #039be5;
  /*Custom Color Of Indicator*/ }

.input-field input[type=password], .input-field input[type=text] {
  font-size: 1.6rem;
  color: #c1cdd2; }

.input-field input[type=password] + label, .input-field input[type=text] + label {
  font-size: 1.4rem; }

.input-field input[type=password]:focus + label, .input-field input[type=text]:focus + label {
  font-size: 1.2rem; }

.input-field .character-counter {
  color: #c1cdd2; }

.submit-btn-large {
  font-size: 1.5rem; }
  .submit-btn-large i {
    font-size: 2.5rem; }

.datepicker {
  cursor: pointer; }

.material-tooltip {
  font-size: 1.6rem; }

[type="checkbox"] + label {
  font-size: 1.5rem; }

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  font-size: 1.3rem;
  padding-left: 2.5rem; }

.switch label {
  font-size: 1.2rem; }

.switch label .lever {
  background: #cccccc; }

.btn:hover {
  color: black; }

textarea.materialize-textarea {
  font-size: 1.7rem;
  color: #c1cdd2; }

.input-field label {
  font-size: 1.5rem; }

textarea.materialize-textarea:focus:not([readonly]) + label {
  font-size: 1.2rem; }

.content-container {
  background: #2b2d33;
  padding: 1rem 1rem;
  margin-top: 4rem; }

.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #00695c;
  padding-left: 1rem; }
  @media only screen and (max-width: 500px) {
    .main-header {
      justify-content: center; } }
  .main-header--icon {
    color: #4db6ac;
    font-size: 2.8rem;
    margin-right: 0.8rem; }
  .main-header--title {
    display: inline-block;
    color: #fff;
    font-size: 2.4rem; }
