.hr-dark{
    background: $light-ash;
    color: $light-ash;
    border-style: inset;
    border-color: $light-ash;
    border-width: 1px;
}

.margin-gutter-small{
    margin-bottom: 2rem;
}

.margin-top-small{
    margin-top: 2rem;
}

.margin-gutter-medium{
    margin-bottom: 5rem;
}

.margin-top-medium{
    margin-top: 5rem;
}